<div class="ct-c-modal">
    <div class="modal__overlay">
        <div class="modal__container ct-animate-slide-down">
            <h3>{{'SIGN_PAD.SAVE_SIGNATURE_TITLE' | translate}}</h3>

            <div class="ct-separator"></div>

            <div class="ct-break--short"></div>

            <span>{{'SIGN_PAD.SAVE_SIGNATURE_MESSAGE' | translate}}</span>

            <div class="ct-break--shorter"></div>
            
            <div class="ct-text-center" *ngIf="showErrorMessage">
                <label class="is-error">{{errorMessage}}</label>
                <div class="ct-break--shorter"></div>
              </div>  

            <div class="ct-separator"></div>
            <div class="ct-break--short"></div>

            <div class="ct-float-right">
                <button class="ct-button--outline" (click)="cancel()">{{'BUTTONS.NO' | translate}}</button>

                <button class="ct-button--primary" (click)="saveSignature()">{{'BUTTONS.YES' | translate}}</button>
            </div>

            <div class="ct-is-clear"></div>
        </div>
    </div>
</div>