<ng-container *ngIf="appState$ | async as state">
    <div class="ws_content-doc__progress">
        <div class="ws_inline"
            [class.ws_icon__list-disabled]="state.FlowStep != FLOW_STEP.MULTISIGN_SELECT" 
            [class.ws_icon__list-enabled]="state.FlowStep == FLOW_STEP.MULTISIGN_SELECT"
        ></div>
        <div class="ws_inline ws_align-top ws_content-doc-progress__text"
            [class.active]="state.FlowStep == FLOW_STEP.MULTISIGN_SELECT"
            >
            <span>Select</span>
        </div>
        <div class="ws_inline ws_icon__progress-arrow-disabled"></div>
        <div class="ws_inline ws_icon__place-enabled"
            [class.ws_icon__place-disabled]="state.FlowStep != FLOW_STEP.MULTISIGN_ASSIGN" 
            [class.ws_icon__place-enabled]="state.FlowStep == FLOW_STEP.MULTISIGN_ASSIGN"
            ></div>
        <div class="ws_inline ws_align-top ws_content-doc-progress__text"
            [class.active]="state.FlowStep == FLOW_STEP.MULTISIGN_ASSIGN"
        >
            <span>Place & Assign</span>
        </div>
        <div class="ws_inline ws_icon__progress-arrow-disabled"></div>
        <div class="ws_inline ws_icon__signature-disabled"
            [class.ws_icon__signature-disabled]="state.FlowStep != FLOW_STEP.MULTISIGN_SEND" 
            [class.ws_icon__signature-enabled]="state.FlowStep == FLOW_STEP.MULTISIGN_SEND"
        ></div>
        <div class="ws_inline ws_align-top ws_content-doc-progress__text"
            [class.active]="state.FlowStep == FLOW_STEP.MULTISIGN_SEND"
        >
            <span>Send</span>
        </div> 

    </div>
</ng-container>