        <ng-container *ngIf="expiredPassFlow">

                <h2>{{"EXPIRED.TITLE" | translate}}</h2>
                <span>{{"EXPIRED.DESCRIPTION" |translate}}</span>

                <div class="ct-break--short"></div>

                <form [formGroup]="expiredPasswordForm" #ngForm="ngForm" (ngSubmit)="submit()">

                    <div class="ct-input--secondary__container">
                        <input class="ct-input--primary" required type="password"
                            formControlName="oldPassword" #oldPassword
                            placeholder="{{'EXPIRED.OLD_PASSWORD' | translate }}"
                            [class.is-error]="expiredPasswordForm.get('oldPassword').invalid && (ngForm.submitted && ngForm.invalid)">

                        <div class="ct-float-right">
                            <button class="ct-button--icon show-password" [togglePass]="oldPassword"
                                [(eyeIconProp)]="oldPasswordEyeIcon">
                                <i-feather [name]="oldPasswordEyeIcon"></i-feather>
                            </button>
                        </div>
                    </div>

                    <div class="ct-break--short"></div>
                    <div class="ct-input--secondary__container">
                        <input class="ct-input--primary" required type="password"
                            formControlName="newPassword" #newPassword
                            placeholder="{{'EXPIRED.NEW_PASSWORD' | translate }}"
                            [class.is-error]="expiredPasswordForm.get('newPassword').invalid && (ngForm.submitted && ngForm.invalid)">

                        <div class="ct-float-right">
                            <button class="ct-button--icon show-password" [togglePass]="newPassword"
                                [(eyeIconProp)]="newPasswordEyeIcon">
                                <i-feather [name]="newPasswordEyeIcon"></i-feather>
                            </button>
                        </div>
                    </div>

                    <div class="ct-break--short"></div>

                    <div class="ct-input--secondary__container">
                        <input class="ct-input--primary" required type="password"
                            formControlName="confirmPassword" #confirmPassword
                            [class.is-error]="expiredPasswordForm.get('confirmPassword').invalid && (ngForm.submitted && ngForm.invalid)"
                            placeholder="{{'EXPIRED.CONFIRM_NEW_PASSWORD' | translate }}">

                        <div class="ct-float-right">
                            <button class="ct-button--icon show-password" [togglePass]="confirmPassword"
                                [(eyeIconProp)]="confirmPasswordEyeIcon">
                                <i-feather [name]="confirmPasswordEyeIcon"></i-feather>
                            </button>
                        </div>
                    </div>

                    <label class="ws_error_msg_big_font is-error"
                        *ngIf="passMinLength">{{"ERROR.INPUT.L_PASS_1" | translate}} {{passMinLength}} {{"ERROR.INPUT.L_PASS_2" | translate}}</label>
                    <label class="ws_error_msg_big_font is-error"
                        *ngIf="!passMinLength && (errorMessage || (ngForm.submitted && ngForm.form.invalid))">{{errorMessage | translate}}</label>

                    <div class="ct-break--medium"></div>

                    <input [disabled]="isBusy || !expiredPasswordForm.valid || 
                    (expiredPasswordForm.get('newPassword').value != expiredPasswordForm.get('confirmPassword').value)" type="submit"
                        [disabled]="isBusy" value="{{'EXPIRED.UPDATE' | translate }}">

                    <div *ngIf="isBusy" class="ct-c-loader ct-float-right">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                </form>
        </ng-container>