.ct-group-label {
    width: 20px !important;
    height: 18px !important;
    position: absolute !important;
    right: -2px !important;
    top: -25px !important;
    border-radius: 50% !important; 
    text-align: center !important;
    font-size: 12px !important;
    padding-top: 2px !important;
}

.ws_float-left {
    float: left;
}

.ct-is-group1 {
    color: black;
    background-color: cornflowerblue;
}

.ct-is-group2 {
    color: black;
    background-color: lightcoral;
}

.ct-is-group3 {
    color: black;
    background-color: lightgreen;
}

.ct-is-group4 {
    color: black;
    background-color: lightpink;
}

.ct-is-group5 {
    color: black;
    background-color: lightsalmon;
}

.ct-is-group6 {
    color: black;
    background-color: lightseagreen;
}

.ct-is-group7 {
    color: black;
    background-color: lightskyblue;
}

.ct-is-group8 {
    color: black;
    background-color: lightslategray;
}

.ct-is-group9 {
    color: black;
    background-color: lightyellow;
}