// buttons
button {
  cursor: pointer;
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  border-radius: 6px;
}
.selected-top-buttons{
  border-bottom: 2px solid black  !important;
  border-radius: 0px!important;
  outline: none !important;
}
button:active {
  outline: solid 2px $color--focus;
}

button:disabled {
  opacity: .6;
  cursor: not-allowed !important;
}

button.is-active {
  outline: solid 2px $color--focus;
}

// button primary
button.ct-button--primary {
  color: white;
  border: solid 1px $color--primary;
  background: $color--primary;
  // /* Old browsers */
  // background: -moz-linear-gradient(top, #30bbde 0%, #0096c8 100%);
  // /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #30bbde 0%, #0096c8 100%);
  // /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #30bbde 0%, #0096c8 100%);
  // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30bbde', endColorstr='#0096c8', GradientType=0);
  // /* IE6-9 */
}

button.ct-button--primary:hover {
  color: $color--primary;
  border: solid 1px $color--primary;
  background: transparent;
}

// button outline
button.ct-button--outline {
  margin: 0 10px;
  color: $color--primary;
  border: solid 1px $color--primary;
  background: transparent;
}

button.ct-button--outline:hover {
  color: white;
  border: solid 1px $color--primary;
  background: $color--primary;
}

// button small
button.ct-button--small {
  padding: 3px;
  font-size: 15px;
  font-weight: 400;
}

// button large
button.ct-button--large {
  width: 175px;
  height: 75px;
  margin: 5px;
  font-weight: 400;
  text-transform: none;

  @include respond-to('small') {
    width: 135px;
  }
}

// button titlebar
button.ct-button--titlebar-primary {
  width: 100px;
  margin: 0 5px;
  padding: 15px;
  color: $color--primary;
  border: solid 1px white;
  background: white;

  @include respond-to('small') {
    width: 46px;
    height: 35px;
    padding: 0 0;
    font-size: 15px;
    font-weight: 400;
  }
}

button.ct-button--titlebar-primary:hover {
  color: white;
  border: solid 1px white;
  background: $color--primary;
}

button.ct-button--titlebar-primary.is-long {
  width: 110px;
  padding: 15px 0;

  @include respond-to('small') {
    width: 75px;
    height: 35px;
    padding: 0 0;
  }
}

// button titlebar
button.ct-button--titlebar-outline {
  width: 100px;
  margin: 0 5px;
  padding: 15px;
  color: white;
  border: solid 1px white;
  background: transparent;

  @include respond-to('small') {
    width: 46px;
    height: 35px;
    padding: 0 3px;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
  }
}

button.ct-button--titlebar-outline:hover {
  color: $color--primary;
  border: solid 1px white;
  background: white;
}

// button icon
button.ct-button--icon {
  padding: 5px 5px 2px 5px;
  border: 0;
  border: solid 1px transparent;
  background: transparent;

  svg {
    stroke-width: 1.8px !important;
    color: $color--grey-dark;
  }

  svg.color--error {
    color: $color--error;
  }

  svg.color--confirm {
    color: $color--confirm;
  }

  span {
    position: relative;
    top: -5px;
    margin: 0 5px;
    text-transform: initial;
    color: $color--text;
  }
}

button.ct-button--ProfileIcon {
  padding-bottom: 0;
  padding-top: 0;
}

button.ct-button--icon:hover {
  svg {
    color: $color--grey-mid;
  }
}

button.ct-button--icon:disabled {
  cursor: auto;
}

button.ct-button--icon.show-password,
.add-remove {
  position: relative;
  top: -38px;
  left: -7px;
  margin: 0 -5px;

  svg {
    width: 16px;
  }
}

button.ct-button--icon.document-bg {
  display: inline-block;

  @include respond-to('small') {
    display: none;
  }
}

// button field
button.ct-button--icon.button--field {
  width: 35px !important;
  height: 35px !important;
  margin: 0 2px;
  border: solid 2px $color--grey-dark;
  border-radius: 50px !important;
  background: $color--grey-dark;

  svg {
    position: relative;
    right: 1px;
    top: -2px;
    color: white;

    @include respond-to('small') {
      position: relative;
      right: 1px;
      top: -11px;
      stroke-width: 3px !important;
    }
  }
}

button.ct-button--icon.button--field.clear-signature-btn {
  background-image: url('../../assets/icons/icon-clear.svg');
  background-repeat: no-repeat;
}

button.ct-button--icon.button--field:focus {
  border: solid 2px $color--focus;
}

button.ct-button--icon.button--field.is-checkbox {
  top: -1px;
}