<div class="ws_wrapper--1024px ws_margin-auto" >
    <!--alert-->
    <app-banner-alert #bannerAlert></app-banner-alert>

    <div class="ws_break--short"></div>

    <h1>Password Replace</h1>

    <div class="ws_clear"></div>

    <div class="ws_break--short"></div>

    <div class="ws_separator"></div>

    <div class="ws_break--short"></div>

    <div class="ws_text-center">
        <div class="form--register ws_text-left">
            <span>New Password</span>

            <input type="password" name="pass" [(ngModel)]="newPassword">
            <button class="ws_button--icon ws_button--icon-input ws_float-right" (click)="togglePassword('pass')">
                <div class="ws_icon__view"></div>
            </button>
            <span>Confirm New Password</span>

            <input type="password" name="confirmPass" [(ngModel)]="confirmPassword">
            <button class="ws_button--icon ws_button--icon-input ws_float-right" (click)="togglePassword('confirmPass')">
                <div class="ws_icon__view"></div>
            </button>
        </div>
    </div>

    <div class="ws_break--shorter"></div>

    <div class="ws_text-center">
        <span class="ws_alert alert--error" *ngIf="showError">Error -Make sure all fields are equal and non empty</span>
        <span class="ws_alert alert--error" *ngIf="passMinLengthMsg">{{passMinLengthMsg}}</span>        
        <div class="ws_break--short"></div>
    </div>

    <div class="ws_text-center">
        <button class="ws_button--small ws_button--cancel" (click)=cancel()>Cancel</button>

        <button class="ws_button--small" (click)=showPopUpAlert()>Update</button>
    </div>

    <app-alert [class.ws_is-hidden]="!showAlert" [class.ws_is-shown]="showAlert"
    (removeDeletionAlert)="hideAlert()" (deleteOperation)="update()" [itemName]="'System Admin Password'"
    [itemType]="'Password'" [operationType]="'update'">
    </app-alert>

</div>