<div class="main__content ct-animate-fadein">
    <h3>{{'RESET.REPLACE' | translate}}:</h3>

    <div class="ct-break--short"></div>

    <form [formGroup]="changePassForm" class="is-fixed">

        <div class="ct-tooltip--password">
            <input class="ct-input--primary" required type="password" name="password" #originalPassword
                formControlName="oldPassword"
                [class.is-error]="originalPassword.invalid && changePassForm.invalid"
                placeholder="{{'RESET.OLD_PASSWORD' | translate }}">

            <div class="ct-float-right">
                <button class="ct-button--icon show-password" [togglePass]="originalPassword" [(eyeIconProp)]="eyeIcon">
                    <i-feather [name]="eyeIcon"></i-feather>
                </button>
            </div>
        </div>

        <div class="ct-break--short"></div>

        <input class="ct-input--primary" required type="password" name="password" #newPassword
            formControlName="newPassword"
            [class.is-error]="newPassword.invalid && changePassForm.invalid"
            placeholder="{{'RESET.NEW_PASSWORD' | translate }}">

        <div class="ct-float-right">
            <button class="ct-button--icon show-password" [togglePass]="newPassword" [(eyeIconProp)]="eyeIcon2">
                <i-feather [name]="eyeIcon2"></i-feather>
            </button>
        </div>

        <div class="ct-break--short"></div>

        <input class="ct-input--primary" required type="password" name="password" #confirmPassword
        formControlName="confirmPassword"
        [class.is-error]="confirmPassword.invalid && changePassForm.invalid"
        placeholder="{{'RESET.CONFIRM' | translate }}">

    <div class="ct-float-right">
        <button class="ct-button--icon show-password" [togglePass]="confirmPassword" [(eyeIconProp)]="eyeIcon3">
            <i-feather [name]="eyeIcon3"></i-feather>
        </button>
    </div>

    <div class="ct-break--short"></div>
    
    <label class="ws_error_msg_big_font is-error"
                *ngIf="passMinLength">{{"ERROR.INPUT.L_PASS_1" | translate}} {{passMinLength}} {{"ERROR.INPUT.L_PASS_2" | translate}}</label>
    <ng-container *ngIf="!passMinLength && errorsArr && errorsArr.length > 0">
            <label class="ws_error_msg_big_font is-error" *ngFor="let err of errorsArr">
                {{err | translate}}<br />
            </label>
            <div class="ct-break--short"></div>
        </ng-container>

        <input type="submit" value="{{'RESET.UPDATE' | translate}}" [disabled]="isBusy" (click)="changePassword()">

        <div *ngIf="isBusy" class="ct-c-loader ct-float-right">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </form>

    <div class="ct-break--short"></div>
</div>