// file-upload-rename
.ct-c-file-upload-rename {
  input {
    width: 718px !important;
    padding: 0 0 0 50px;

    @include respond-to('medium') {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  div {
    position: absolute;
    margin: 10px;

    svg {
      stroke-width: 1.8px !important;
      color: $color--grey-dark;
    }

    @include respond-to('medium') {
      display: none;
    }
  }
}