// themes
$color--primary: #30BBDE;
$color--secondary: #B30F0F;

$color--text: #525252;
$color--input--text: black;

$color--border: #E0E0E0;

$color--grey-light: #F8F8F8;
$color--grey-mid: #E2E5E8;
$color--grey-dark: #A7A7A7;

$color--error: #F14C4C;
$color--confirm: #00C853;
$color--alert: orange;

$color--label: #D1E9FF;

$color--focus: #2476FF;