<body class="ct-p-profile">
  <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  <!-- Add your site or application content here -->

  <header>
    <div class="header__logo"></div>
    <app-lang></app-lang>
  </header>

  <div class="ct-c-titlebar">
    <main>
      <div></div>

      <h1>{{'OTP.TERM_OF_USE' | translate}}</h1>
    </main>

    <nav>
      <button class="ct-button--titlebar-outline" (click)="back()">
        {{'BUTTONS.BACK' | translate}}
      </button>
    </nav>
  </div>

  <main>
    <aside>
      <menu class="ct-float-right">
        <ul>
          <li [class.is-active]="isPrivacySelected" [routerLink]="['/privacy']">{{'OTP.PRIVACY_POLICY' | translate}}
          </li>
          <li [class.is-active]="!isPrivacySelected" [routerLink]="[ '/terms']">{{'OTP.TERM_OF_USE' | translate}}</li>
        </ul>
      </menu>
    </aside>

    <div class="main__content">
      <h3>End User License Agreement for Software Use ComSignTrust Enterprise</h3>

      <div class="ws_break--short"></div>

      <div class="ws_text-left">
        <div class="ws_separator"></div>
        <p>
          IMPORTANT NOTICE: Prior to download, installation, copy or use please read the below terms
          and conditions. BY
          DOWNLOAD, INSTALLATION, COPY OR USE OF THE PRODUCT YOU EXPRESS YOUR CONSENT TO THESE TERMS
          AND CONDITIONS
        </p>

        <div class="ws_separator"></div>

        <div class="ws_break--short"></div>

        <p>
          This agreement on software use (the “Agreement”) executed by and between ComSignTrust Ltd.,
          with its seat at
          Atidim Tech Park, bldg # 4, P.O.B 58007, Tel-Aviv, 61580 Israel, registered in the Israeli
          Company Registrar
          (the “Provider”) and you, a physical person or legal entity, (the “End User”) entitles you
          to use the Software
          defined in Article 1 hereof. The Software defined in Article 1 hereof may be stored on any
          physical storage
          device, inter-alia a CD-ROM or DVD medium, sent via electronic mail, downloaded from the
          Internet, downloaded
          from servers of the Provider or obtained from other sources under the terms and
          circumstances discussed below.
        </p>

        <p>
          THIS IS NOT A PURCHASE CONTRACT BUT AN AGREEMENT ON THE RIGHTS OF THE END USER. The Provider
          remains the owner
          of the copy of the Software and of the physical medium, if any, on which the Software is
          supplied in
          commercial
          packaging as well as of all copies of the Software to which the End User is entitled to
          under this Agreement.
        </p>

        <p>By clicking on the button "I Accept" during the download, installation, copy or use of the
          Software you
          express
          consent to the provisions and terms hereof. If you disagree with any provisions of this
          Agreement, promptly
          click on the button "Decline" or "I Do Not Accept", cancel the download or the installation
          or destroy or
          return
          the Software, installation medium, underlying documentation and a purchase receipt to the
          Provider or to the
          place where you obtained the Software.
        </p>

        <p>
          YOU AGREE THAT YOUR USE OF THE SOFTWARE INDICATES THAT YOU HAVE READ THIS AGREEMENT; YOU
          UNDERSTAND IT AND
          AGREE
          TO BE BOUND BY ITS PROVISIONS.
        </p>

        <ul style="list-style: decimal; margin: 25px;">
          <li>Software. The Software in this Agreement shall mean (i) the computer program
            ComSignTrust Enterprise
            (CSTE),
            including all its parts, (ii) the contents of disks, CD-ROMs, DVD mediums, e-mail
            reports and all their
            attachments, if any, or other mediums to which this Agreement is attached, including the
            Software supplied
            in
            the form of an object code on a CD-ROM, DVD medium or via electronic mail through the
            Internet, (iii) any
            explaining materials and any documentation related to the Software including, without
            limitation, any
            description of the Software, its specification, description of properties, description
            of control,
            description
            of interface in which the Software is used, a manual or installation handbook of the
            Software or any
            description of the correct use of the Software (the “Documentation”), (iv) copies of the
            Software, repairs
            of
            errors, if any, of the Software, additions to the Software, extensions of the Software,
            modified versions of
            the Software, new versions of the Software and all upgrades of Software parts, if
            supplied, in respect of
            which the Provider grants you the License pursuant to Article 4 hereof. The Provider
            shall supply the
            Software
            only in the form of executable code.</li>

          <li>Installation. The Software supplied on a CD-ROM or DVD medium, sent via electronic mail,
            downloaded from
            the
            Internet, downloaded from servers of the Provider or obtained from other sources shall
            require installation.
            You must install the Software on a correctly configured computer complying at least with
            requirements set
            out
            in the Documentation. The manner of installation is specified in the Documentation. No
            computer programs or
            hardware which could unfavorably affect the Software may be installed on the computer on
            which you install
            the
            Software.</li>

          <li>License. Provided that you have agreed to this Agreement and you pay the License Fee
            under Article 16 when
            due and payable, the Provider grants you a non-exclusive and non-transferable right to
            install the Software
            on
            the hard disk of a computer or on a similar medium for permanent storing of data, to
            install and store the
            Software to the memory of a computer system and to implement, store and display the
            Software on computer
            systems, however, provided that the maximum number of such computer systems is the
            number which the End User
            specified in an order and for which the End User paid the relevant fee (the “License”).
            One user shall mean:
            installation of the Software on one computer system</li>

          <li>Exercise of rights of the End User. You must exercise the rights of the End User in
            person or through your
            employees, if any. As the End User you may use the Software only on those computer
            systems for which you
            have
            obtained and paid for the License. </li>

          <li>Limitation of rights of the End User. You may not copy, distribute, separate its parts
            or create derived
            versions of the Software, subject to the following exceptions:</li>

          <ul style="list-style: lower-alpha; margin: 15px;">
            <li>You may create for yourself one copy of the Software on a medium for permanent storing
              of data as a
              back-up
              copy, provided that your archive back-up copy shall not be installed or used on any
              other computer. The
              creation of any other copy of the Software shall be a violation of this Agreement.</li>

            <li>You may not use, modify, interpret, reproduce or transfer rights to use the Software or
              copies of the
              Software in any manner other than as provided for in this Agreement.</li>

            <li>You may not sell the Software, sublicense or lease it to another person or hire the
              Software from another
              person or lend the Software.</li>

            <li>You may not analyze, decompile, disassemble a source code, reverse engineer or seek to
              obtain a source
              code
              of the Software in any other manner, except for the scope in which such limitation is
              explicitly prohibited
              by
              law.</li>

            <li>You may not create any derivative works based on the Software.</li>

            <li>You agree to use the Software only in the manner which is in accordance with all
              applicable legal
              regulations in the laws under which you use the Software including, without limitation,
              in accordance with
              applicable limitations arising from the Copyright Law and other intellectual property
              rights.</li>

            <li>You may not use the Software obtained as a trial version or Not-For-Resale (“NFR”) in
              discrepancy with
              good
              morals with a view to avoiding payment of the License Fee under Article 16.</li>
          </ul>

          <li>Copyrights. The Software and all rights including, without limitation, legal title and
            intellectual
            property
            rights therein are the property of Provider and/or its license providers. They are
            protected by provisions
            of
            international treaties and by all other applicable laws of the country in which the
            Software is used. The
            structure, organization and code of the Software are business secrets and confidential
            information of
            Provider
            and/or its license providers. You may not copy the Software, with the exception
            specified in Article 5 (a).
            Any copies that you may create hereunder must contain the same notices of copyrights and
            legal title as
            specified on the Software. If you analyze, decompile, or disassemble a source code or
            seek to obtain a
            source
            code in any other manner in violation of the provisions of this Agreement, any
            information thereby obtained
            shall automatically and irrevocably be deemed transferred to the Provider and owned by
            the Provider in full
            from the moment of the origin thereof.</li>

          <li>Reservation of rights. All rights to the Software, except for the rights expressly
            granted in this
            Agreement
            to you as the End User of the Software, are reserved by the Provider for itself. </li>

          <li>Several language versions, versions for additional operating systems, several copies. If
            the Software
            supports several platforms or languages or if you have obtained more copies of the
            Software, you may not
            install versions and copies of the Software on more computer systems than specified by
            you in an order and
            for
            which you have paid the relevant License Fee under Article 16 hereof. You may not sell,
            lease, hire,
            sublicense, lend or transfer to other persons any versions or copies of the Software not
            used by you.</li>

          <li>
            <p>
              Commencement and term of the Agreement. This Agreement is valid and effective from
              the first day on which
              you have installed the Software. You may terminate this Agreement by permanently
              deleting, destroying or
              returning at your own costs the Software, all back-up copies, if any, and all
              related materials that you
              have obtained from the Provider or from its business partners. Your rights as the
              End User shall
              automatically and immediately extinguish without any notice from the Provider if you
              fail to comply with
              any
              provision of this Agreement. In such a case you must promptly delete, destroy or
              return at your own costs
              the Software, all back-up copies, if any, and all related materials to Provider or
              to the place where you
              obtained the Software.
            </p>

            <p>
              This Agreement is executed for the duration of authorized usage of the Software.
            </p>

            <p>
              Without regard to the manner of termination of this Agreement, the provisions of its
              Articles 6, 7, 10,
              12,
              14 and 19 shall remain valid without the limitation of time.
            </p>
          </li>

          <li>END USER REPRESENTATIONS. AS THE END USER YOU ACKNOWLEDGE THAT THE SOFTWARE IS PROVIDED
            IN "AS IS
            CONDITION", WITHOUT AN EXPRESS OR IMPLIED GUARANTEE OF ANY TYPE AND TO THE MAXIMUM
            EXTENT PERMITTED BY
            APPLICABLE LAWS, NEITHER THE PROVIDER, ITS LICENSE PROVIDERS NOR COPYRIGHT HOLDERS
            PROVIDE ANY EXPRESS OR
            IMPLIED REPRESENTATIONS OR GUARANTEES, IN PARTICULAR NO SALES GUARANTEES OR SUITABILITY
            FOR A SPECIFIC
            PURPOSE
            OR GUARANTEES THAT THE SOFTWARE DOES NOT BREACH ANY PATENTS, COPYRIGHTS, TRADEMARKS OR
            OTHER RIGHTS OF THIRD
            PARTIES. NO GUARANTEE FROM THE PROVIDER OR ANY OTHER PARTY EXISTS THAT THE FUNCTIONS
            CONTAINED IN THE
            SOFTWARE
            WILL COMPLY WITH YOUR REQUIREMENTS OR THAT SOFTWARE OPERATION WILL BE SMOOTH AND FREE OF
            ERRORS. YOU ASSUME
            FULL LIABILITY AND RISK FOR SELECTION OF THE SOFTWARE TO ACHIEVE RESULTS INTENDED BY YOU
            AND FOR THE
            INSTALLATION, USE AND RESULTS THAT YOU WILL ACHIEVE WITH THE SOFTWARE.</li>

          <li>No further obligations. This Agreement imposes no other obligations on the side of the
            Provider except for
            the obligations specifically listed in this Agreement. </li>

          <li>LIMITATION OF GUARANTEE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAWS, IN NO EVENT
            SHALL THE
            PROVIDER,
            ITS EMPLOYEES OR LICENSE PROVIDERS BE HELD LIABLE FOR ANY LOST PROFIT, REVENUE, OR
            SALES, OR FOR ANY LOSS OF
            DATA, OR FOR COSTS EXPENDED TO PROCURE SPARE GOODS OR SERVICES, FOR PROPERTY DAMAGE,
            PERSONAL DAMAGE,
            BUSINESS
            INTERRUPTION, LOSS OF BUSINESS INFORMATION OR FOR ANY SPECIAL, DIRECT, INDIRECT,
            ACCIDENTAL, ECONOMIC,
            COVERING, CRIMINAL, SPECIAL OR SUBSEQUENT DAMAGE, CAUSED IN ANY MANNER WHATSOEVER,
            WHETHER ARISING FROM A
            CONTRACT, WILLFUL MISCONDUCT, NEGLIGENCE OR OTHER FACT ESTABLISHING THE OCCURRENCE OF
            LIABILITY, INCURRED
            DUE
            TO THE USE OF OR IMPOSSIBILITY TO USE THE SOFTWARE, EVEN IN THE EVENT THAT THE PROVIDER
            OR ITS LICENSE
            PROVIDERS HAVE BEEN NOTIFIED OF THE POSSIBILITY OF SUCH DAMAGE. BECAUSE CERTAIN
            COUNTRIES AND CERTAIN LAWS
            DO
            NOT PERMIT THE EXCLUSION OF LIABILITY BUT MAY ALLOW THE LIMITATION OF LIABILITY, THE
            LIABILITY OF THE
            PROVIDER, ITS EMPLOYEES OR LICENSE PROVIDERS SHALL BE LIMITED TO THE PRICE THAT YOU HAVE
            PAID FOR THE
            LICENSE.
          </li>

          <li>No provision of this Agreement shall affect the rights of such a party for which the law
            recognizes the
            rights and position of a consumer. The Provider on its own behalf, on behalf of its
            employees and on behalf
            of
            its license providers shall act for the purpose of refusal, exclusion or limitation of
            the obligations,
            liability and warranties as set out in Article 12, except for any other purpose or in
            any other matters.
          </li>

          <li>No Support. The Provider shall not be obliged to provide any support for the Software
            unless otherwise
            specifically noted in writing.</li>

          <li>Change of End User. The End User may transfer the License and all rights from this
            Agreement to another
            End
            User only with consent of the Provider and only if the new End User represents that it
            assumes all rights
            and
            obligations pertaining to the original End User under this Agreement. </li>

          <li>License Fee and Payment Terms. Software is licensed not sold. A License Fee for the
            Software shall be
            specified based on a price list of the Provider or of its business partners according to
            the number of
            computer systems for which the Software is designated (the “License Fee”). Upon payment
            of the License Fee
            you
            shall become entitled to use the Software in accordance with the terms and conditions of
            this Agreement
            throughout the period for which you have acquired the right to use the Software. Unless
            another maturity
            date
            is specified in an invoice or other similar document issued by the Provider or its
            business partner, the
            License Fee shall be due upon delivery of the Software. You shall be liable for the
            fulfillment of tax and
            duty charges related to the provision of the License for the Software stipulated by
            applicable law, except
            for
            income taxes of the Provider. If you fail to pay the License Fee within the maturity
            date, your License for
            the Software shall be automatically revoked and you shall have to pay all costs
            connected with the recovery
            of
            a receivable due, including attorney fees and court fees. The obligation to pay the
            License Fee shall not
            apply to the Software provided as NFR or a trial version.</li>

          <li>NFR and Trial Version. You may use the Software supplied as NFR or trial version
            exclusively for verifying
            and testing the Software features. You may also use the NFR Software for demonstration
            purposes. </li>

          <li>Data on End User and Protection of Rights. You as the End User authorize the Provider to
            transfer, process
            and save the data enabling the Provider to identify you. You agree that the Provider may
            check by its own
            means whether you are using the Software in accordance with the provisions of this
            Agreement. You agree that
            through communication of the Software with the computer systems of the Provider or of
            its business partners'
            data may be transferred, the purpose of which is to ensure the functionality of and
            authorization to use the
            Software and protection of the Provider’s rights.</li>

          <li>Export and Re-export Compliance. The Software, the Documentation or parts thereof,
            including the
            information
            about the Software and parts thereof, shall be subject to the measures on monitoring of
            imports and exports
            under legal regulations which may be issued by the governments competent for the
            issuance thereof under
            applicable law. You agree to strictly comply with all applicable import and export
            regulations and
            acknowledge
            that you shall be held liable for the obtaining of licenses for export, re-export,
            transfer or import of the
            Software. </li>

          <li>Notices. All notices, the returned Software, and Documentation must be delivered to:
            ComSignTrust Ltd.,
            with
            its seat at Atidim Tech Park, bldg # 4, P.O.B 58007, Tel-Aviv, 61580 Israel.</li>

          <li>Governing Law. This Agreement shall be governed by and construed in accordance with the
            laws of the State
            of
            Israel. The End User and the Provider agree that conflict provisions of the governing
            law and United Nations
            Convention on Contracts for the International Sale of Goods shall not apply. You
            expressly agree that
            exclusive jurisdiction for any claim or dispute with the Provider or relating in any way
            to your use of the
            Software resides in the competent courts of the District of Tel Aviv, Israel to the
            exclusion of all other
            courts and you further agree and expressly consent to the exercise of the personal
            jurisdiction in the
            competent Court of the District of Tel Aviv, Israel in connection with any such dispute
            or claim.</li>

          <li>General Provisions. If any provision of this Agreement is invalid or unenforceable, this
            shall not affect
            the validity of the remaining provisions of the Agreement. Those shall remain valid and
            enforceable under
            the
            terms and conditions stipulated herein. Any amendments hereto may only be in writing,
            and a statutory
            representative must sign such an amendment on behalf of the Provider.</li>

          <li>This Agreement between you and the Provider represents the single and entire Agreement
            applying to the
            Software and completely supersedes any prior representations, negotiations, obligations,
            reports, or
            advertisement of information related to the Software.</li>
        </ul>
      </div>
    </div>
  </main>
</body>