<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <staticContent>
        <remove fileExtension=".html" />
        <mimeMap fileExtension=".html" mimeType="text/html" />
    </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="^(.*)$" />
            </rewriteMaps>
            <rules>
                <rule name="http redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
                <rule name="Angular Route" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="/UserSoap(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/UserApi(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/SignerApi(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/Signer(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/Auth(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/paymentApi(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/PDFConverter(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/pdfExternal(.*)$" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="NoCache for index.html" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Rewrite" url="index.html" />
                    <serverVariables>
                        <set name="RESPONSE_Cache-Control" value="no-cache, no-store, must-revalidate" />
                        <set name="RESPONSE_Pragma" value="no-cache" />
                        <set name="RESPONSE_Expires" value="0" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
<!-- Remove X-Powered-By header -->
<customHeaders>
<remove name="X-Powered-By" />
<remove name="Server" />
<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
<add name="Pragma" value="no-cache" />
<add name="Expires" value="0" />
</customHeaders>
</httpProtocol>
<security>
<!-- Remove Server header-->
<requestFiltering removeServerHeader ="true" />
</security>
    </system.webServer>
</configuration>
