<div class="ct-p-login">
    <main>
        <div class="main__img"></div>

        <div class="main__content">
            <header>
                <div class="header__logo"  [routerLink]="['/dashboard','main']"></div>
                <sgn-lang-selector></sgn-lang-selector>
            </header>


            <div class="content__form ct-animate-fadein">
                <h2>{{"REGISTER_CONFIRM.ACCOUNT_CONFIRM" | translate}}</h2>

                <div class="ct-break--medium"></div>

                <span>{{"REGISTER_CONFIRM.SENT_URL" | translate}}</span>

                <div class="ct-break--short"></div>

                <span>{{"REGISTER_CONFIRM.DIDNT_RECEIVE_MAIL" | translate}} <a
                        (click)="send()">{{"REGISTER_CONFIRM.RESEND_MAIL" | translate}}</a></span>

                <div class="ct-break--medium"></div>

                <button [routerLink]="['../']" class="ct-button--primary">{{'LOGIN.LOGIN' | translate}}</button>
            </div>

            <label class="is-error" *ngIf="errorMessage">{{errorMessage | translate}}</label>

            <sgn-footer-component [isFullClass]="false"></sgn-footer-component>
        </div>
    </main>
</div>